NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://excava:excava_dev@localhost:55432/excava_iot?schema=public
JWT_SECRET=troque-esta-chave-por-uma-chave-segura-com-32-caracteres
JWT_EXPIRES_IN=7d
MQTT_URL=mqtt://localhost:1883
MQTT_PUBLIC_URL=mqtt://192.168.0.3:1883
MQTT_USERNAME=
MQTT_PASSWORD=
REDIS_URL=redis://localhost:6380
CORS_ORIGIN=http://localhost:3001,http://localhost:8081,http://192.168.0.3:3001,http://192.168.0.3:8081
OFFLINE_AFTER_SECONDS=120
ALLOW_UNPROVISIONED_DEVICES=true
